@using TKHTTT.Models
@model List<TheLoai>

<button id="btn1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Thể loại
</button>
<div class="dropdown-menu" aria-labelledby="btn1">
    @foreach (var item in Model)
    {
        <a class="dropdown-item" href="#">@item.TenTL </a>
    }
    
    <a class="dropdown-item" href="#">Thể loại khác </a>

</div>
